.MedInfo { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.MedInfo input {
    cursor: pointer;
}

MedInfo button {
    font-family: inherit;
}