.Buttons {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 100vh;
}


.Buttons button {
    background-color: rgb(248, 246, 242);
    cursor: pointer;
    border-radius: 3px;
}

.Buttons button:hover {
    background-color: rgb(199, 127, 18);
    color: white;
}


