.Form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Header {
    text-align: center;
    margin-bottom: 1rem;
}

.Form button {
    background-color: rgb(209, 191, 155);
    cursor: pointer;
    border-radius: 3px;
    font-family: inherit;
    margin: 1rem;
}

.Form button:hover {
    background-color: rgb(199, 127, 18);
    color: white;
}

.Div {
    background-color: rgba(102, 89, 16, 0.671);
    height: 100vh;
}