.currentMedsContainer {
    height: 100vh;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(102, 89, 16, 0.671);
}

.headerContainer > h1,h2,h3 {
    margin: 0;
}

.medicinesContainer {
    display: flex;
    flex-wrap: wrap;
    height: 55%;
    overflow-y: auto;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    
}

.actionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    background-color: rgba(102, 89, 16, 0.671);
}

.actionBtns {
    width: 50vh;
    height: 5vh;
    background-color: rgb(209, 191, 155);
    border-radius: 15px;
    color: white;
    font-size: 3vh;
    cursor: pointer;
}

.actionBtns:hover {
    background-color: rgb(199, 127, 18);
    color: white;
}